In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [ ]:
#x = "D:\Reviews.csv"
#x = "D:\Datasets\YelpChi\YelpChi.csv"
#x = "D:\Datasets\YelpReview.csv"
x = "D:\\reviews_Electronics.json"
print(x)
#data = pd.read_csv(x)
data = pd.read_json(x,lines=True)
data.head()

In [3]:
df = pd.read_csv("C:\\Users\\Syed Abdullah Ashraf\\Downloads\\complete.csv")
df

,doc_id,text,favorited,favoriteCount,replyToSN,created,truncated,replyToSID,id,replyToUID,statusSource,screenName,retweetCount,isRetweet,retweeted,longitude,latitude
0,1,Good data allows us to make good decisions or ...,False,0,NaN,10/11/21 22:26,True,NaN,1.460000e+18,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",Remotely_TREX,0,False,False,NaN,NaN
1,2,RT @himalayasapp: ðŸ™‚ Brave is hiring a remote S...,False,0,NaN,10/11/21 22:23,False,NaN,1.460000e+18,NaN,"<a href=""https://hitalfashion.in"" rel=""nofollo...",PythonExpertBot,1,True,False,NaN,NaN
2,3,RT @Jobs_A_Fly: Hiring! Sr. Staff Engineer. Re...,False,0,NaN,10/11/21 22:23,False,NaN,1.460000e+18,NaN,"<a href=""https://help.twitter.com/en/using-twi...",education_24x7,2,True,False,NaN,NaN
3,4,.@lytics is looking for: Platform Software Eng...,False,1,NaN,10/11/21 22:23,False,NaN,1.460000e+18,NaN,"<a href=""https://www.golangprojects.com"" rel=""...",golangprojects,0,False,False,NaN,NaN
4,5,RT @IncluzionJobs: .@NSTXL tweeted a new remot...,False,0,NaN,10/11/21 22:22,False,NaN,1.460000e+18,NaN,"<a href=""https://help.twitter.com/en/using-twi...",HiringCare,1,True,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19434,19435,@SwinBusSchool research: the five work models ...,False,0,SwinBusSchool,01/11/21 4:15,True,NaN,1.460000e+18,1.150000e+18,"<a href=""https://www.hootsuite.com"" rel=""nofol...",BusinessDeans,1,False,False,NaN,NaN
19435,19436,RT @uniify_in: Frontline Managers Are The Lync...,False,0,NaN,01/11/21 4:13,False,NaN,1.460000e+18,NaN,"<a href=""http://twitter.com/download/iphone"" r...",kapilsaxena,1,True,False,NaN,NaN
19436,19437,Frontline Managers Are The Lynchpins To Busine...,False,2,NaN,01/11/21 3:55,True,NaN,1.460000e+18,NaN,"<a href=""https://publer.io"" rel=""nofollow"">Pub...",uniify_in,1,False,False,NaN,NaN
19437,19438,Meet Konpod: Not just a regular meeting platfo...,False,0,NaN,01/11/21 3:40,True,NaN,1.460000e+18,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",konpod2021,0,False,False,NaN,NaN
19438,19439,RT @Workspot: 12 Top-of-Mind Questions from Co...,False,0,NaN,01/11/21 3:38,False,NaN,1.460000e+18,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",chidambara09,3,True,False,NaN,NaN

In [3]:
key = ['Disclaimer', 'Discount for review','Discount to review', 'For the purpose of a review','Free for my review',
       'Free for review',"Free reviewer's sample", 'Free sample', 'Free to review Freebie','In exchange for a review',
       'In exchange for my honest','In exchange of a review', 'In return for a review','In return of a review', 
       'Product for review','Product for test', 'Review for product','Review sample', 'Review unit','Reviewing purposes'
       ,'Sample for an honest review','Sample for review', 'Sent this for review','Testing and review purposes'
       ,'Product sent for review']

In [4]:
import numpy as np
shp =len(data)
for x in key:
    result = [data['Text'].str.contains(x, case= False)]
    s = np.reshape(result,(shp,1))
    data[x] = s

In [5]:
data.iloc[:,10:-1]

,Disclaimer,Discount for review,Discount to review,For the purpose of a review,Free for my review,Free for review,Free reviewer's sample,Free sample,Free to review Freebie,In exchange for a review,...,Product for review,Product for test,Review for product,Review sample,Review unit,Reviewing purposes,Sample for an honest review,Sample for review,Sent this for review,Testing and review purposes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568449,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
568450,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
568451,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
568452,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
568453,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
data.info()

In [ ]:
col = data.iloc[:,10:-1].columns
for col in col:
    print(data[col].value_counts(),"\n")

In [ ]:
data['incent'] = data.iloc[:,10:-1].any(axis = 1)
data

In [34]:
print(data.incent.value_counts())

False    567232
True       1222
Name: incent, dtype: int64

In [35]:
data[data['incent']==True].to_csv('amazonfoodincent.csv', index = False)

In [ ]:
df = pd.read_csv("D:\\Yelp\\YelpChi\\YCProcessed.csv")
df.head()

In [31]:
#"D:\Datasets\YelpZip\YelpZip.csv"
#"D:\\Datasets\\YelpChi\\YelpChi.csv"
#"D:\\Datasets\YelpNYC\YelpNYC.csv
df = pd.read_csv("D:\Datasets\YelpZip\YelpZip.csv")
df.head()

,user_id,prod_id,date,reviews,rating,label
0,5044,0,11/16/2014,Drinks were bad the hot chocolate was watered ...,1,-1
1,5045,0,9/8/2014,This was the worst experience I've ever had a ...,1,-1
2,5046,0,10/6/2013,This is located on the site of the old Spruce ...,3,-1
3,5047,0,11/30/2014,I enjoyed coffee and breakfast twice at Toast ...,5,-1
4,5048,0,8/28/2014,I love Toast! The food choices are fantastic -...,5,-1

In [32]:
from datetime import timedelta
from datetime import date
df['date'] = df['date'].astype('datetime64[ns]')
i=14
b=pd.DataFrame()
for prod in df['prod_id'].unique():
    dftemp = df.loc[(df['prod_id'] == prod)]
    start = min(dftemp['date'])
    end = max(dftemp['date'])
    interval = ((end-start).days+1)/i
    frmj = start
    for j in range(int (interval)+1):
        #print(j)
        if(j==0):
            toj = frmj + timedelta(days = i)
            frmnj = toj
            tonj = frmnj+timedelta(days = i)
            tempj = dftemp.loc[(dftemp['date']>=frmj) & (dftemp['date']<toj)]
            tempnj = dftemp.loc[(dftemp['date']>=frmnj) & (dftemp['date']<tonj)]
            numrevj = tempj.shape[0]
            avgrevj = numrevj/i
            numrevnj = tempnj.shape[0]
            avgrevnj= numrevnj/i
            if(numrevj>avgrevj):
                if(numrevj>numrevnj):
                    tempj['burst'] = 1
                    b = pd.concat([b,tempj])
                    frmj = toj
                else:
                    tempj['burst'] = 0
                    b = pd.concat([b,tempj])
                    frmj = toj
            else:
                tempj['burst'] = 0
                b = pd.concat([b,tempj])
                frmj = toj
        elif(j>0&j<int (interval)):
            toj = frmj + timedelta(days = i)
            frmpj = frmj - timedelta(days = i)
            frmnj = toj
            tonj = frmnj+timedelta(days = i)
            topj = frmj
            temppj = dftemp.loc[(dftemp['date']>=frmpj) & (dftemp['date']<topj)] 
            tempj = dftemp.loc[(dftemp['date']>=frmj) & (dftemp['date']<toj)]
            tempnj = dftemp.loc[(dftemp['date']>=frmnj) & (dftemp['date']<tonj)]
            numrevpj = temppj.shape[0]
            avgrevpj = numrevpj/i
            numrevj = tempj.shape[0]
            avgrevj = numrevj/i
            numrevnj = tempnj.shape[0]
            avgrevnj= numrevnj/i
            if(numrevj>avgrevj):
                if(numrevpj<numrevj>numrevnj):
                    tempj['burst'] = 1
                    b = pd.concat([b,tempj])
                    frmj = toj
                else:
                    tempj['burst'] = 0
                    b = pd.concat([b,tempj])
                    frmj = toj
            else:
                tempj['burst'] = 0
                b = pd.concat([b,tempj])
                frmj = toj
        else:
            toj = frmj + timedelta(days = i)
            frmpj = frmj - timedelta(days = i)
            topj = frmj
            temppj = dftemp.loc[(dftemp['date']>=frmpj) & (dftemp['date']<topj)]
            tempj = dftemp.loc[(dftemp['date']>=frmj) & (dftemp['date']<=toj)]
            numrevj = tempj.shape[0]
            avgrevj = numrevj/i
            numrevpj = temppj.shape[0]
            avgrevpj= numrevpj/i
            if(numrevj>avgrevj):
                if(numrevj>numrevpj):
                    tempj['burst'] = 1
                    b = pd.concat([b,tempj])
                    frmj = toj
                else:
                    tempj['burst'] = 0
                    b = pd.concat([b,tempj])
                    frmj = toj
            else:
                tempj['burst'] = 0
                b = pd.concat([b,tempj])
                frmj = toj
b

,user_id,prod_id,date,reviews,rating,label,burst
85,5129,0,2013-02-21,Replacing YOLO Cafe Toast has an eclectic blen...,5,1,0
86,5130,0,2013-02-13,Great atmosphere very clean and awesome coffee...,4,1,0
87,5131,0,2013-02-12,There is good news and bad news. The good news...,2,1,0
6,5050,0,2013-03-03,wonderful relaxed vibe and fantastic homemade ...,5,-1,1
82,5126,0,2013-03-09,I have been here three times for breakfast & l...,4,1,1
...,...,...,...,...,...,...,...
591835,166004,5039,2013-05-20,just had a really disappointing experience at ...,1,1,1
591832,100625,5039,2013-11-02,The name says it all! Also they make some kill...,4,-1,1
591833,265319,5039,2014-11-07,Love this place been eating hear for years. Fo...,5,-1,1
591834,138941,5039,2014-11-04,Definitely the best subs in Claremont. They ar...,4,1,1
591831,265318,5039,2015-01-02,todays marks my 10th visit and have not had a ...,4,-1,1

In [ ]:
from datetime import timedelta
from datetime import date
df['date'] = df['date'].astype('datetime64[ns]')
i=14
c=pd.DataFrame()
for rev in df['user_id'].unique():
    dftemp = df.loc[(df['user_id'] == rev)]
    start = min(dftemp['date'])
    end = max(dftemp['date'])
    interval = ((end-start).days+1)/i
    frmj = start
    for j in range(int (interval)+1):
        #print(j)
        if(j==0):
            toj = frmj + timedelta(days = i)
            frmnj = toj
            tonj = frmnj+timedelta(days = i)
            tempj = dftemp.loc[(dftemp['date']>=frmj) & (dftemp['date']<toj)]
            tempnj = dftemp.loc[(dftemp['date']>=frmnj) & (dftemp['date']<tonj)]
            numrevj = tempj.shape[0]
            avgrevj = numrevj/i
            numrevnj = tempnj.shape[0]
            avgrevnj= numrevnj/i
            if(numrevj>avgrevj):
                if(numrevj>numrevnj):
                    tempj['burst'] = 1
                    c = pd.concat([b,tempj])
                    frmj = toj
                else:
                    tempj['burst'] = 0
                    c = pd.concat([b,tempj])
                    frmj = toj
            else:
                tempj['burst'] = 0
                c = pd.concat([b,tempj])
                frmj = toj
        elif(j>0&j<int (interval)):
            toj = frmj + timedelta(days = i)
            frmpj = frmj - timedelta(days = i)
            frmnj = toj
            tonj = frmnj+timedelta(days = i)
            topj = frmj
            temppj = dftemp.loc[(dftemp['date']>=frmpj) & (dftemp['date']<topj)] 
            tempj = dftemp.loc[(dftemp['date']>=frmj) & (dftemp['date']<toj)]
            tempnj = dftemp.loc[(dftemp['date']>=frmnj) & (dftemp['date']<tonj)]
            numrevpj = temppj.shape[0]
            avgrevpj = numrevpj/i
            numrevj = tempj.shape[0]
            avgrevj = numrevj/i
            numrevnj = tempnj.shape[0]
            avgrevnj= numrevnj/i
            if(numrevj>avgrevj):
                if(numrevpj<numrevj>numrevnj):
                    tempj['burst'] = 1
                    c = pd.concat([b,tempj])
                    frmj = toj
                else:
                    tempj['burst'] = 0
                    c = pd.concat([b,tempj])
                    frmj = toj
            else:
                tempj['burst'] = 0
                c = pd.concat([b,tempj])
                frmj = toj
        else:
            toj = frmj + timedelta(days = i)
            frmpj = frmj - timedelta(days = i)
            topj = frmj
            temppj = dftemp.loc[(dftemp['date']>=frmpj) & (dftemp['date']<topj)]
            tempj = dftemp.loc[(dftemp['date']>=frmj) & (dftemp['date']<=toj)]
            numrevj = tempj.shape[0]
            avgrevj = numrevj/i
            numrevpj = temppj.shape[0]
            avgrevpj= numrevpj/i
            if(numrevj>avgrevj):
                if(numrevj>numrevpj):
                    tempj['burst'] = 1
                    c = pd.concat([b,tempj])
                    frmj = toj
                else:
                    tempj['burst'] = 0
                    c = pd.concat([b,tempj])
                    frmj = toj
            else:
                tempj['burst'] = 0
                c = pd.concat([b,tempj])
                frmj = toj
c

In [24]:
df.shape[0]

359052

In [25]:
b.burst.value_counts()

0    211249
1    147803
Name: burst, dtype: int64

In [26]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()
#row = b.reviews[0]
def get_sentiment(row, **kwargs):
    sentiment_score = sid.polarity_scores(row)
    positive_meter = round((sentiment_score['pos']), 2)
    negative_meter = round((sentiment_score['neg']), 2)
    compound_meter = round((sentiment_score['compound']), 2)
    if (kwargs['k'] == 'positive'):
        return positive_meter
    elif (kwargs['k'] == 'negative'):
          return negative_meter
    else:
          return compound_meter
b['PosSent'] = b.reviews.apply(get_sentiment, k='positive')
b['NegSent'] = b.reviews.apply(get_sentiment, k='negative')
b['CompSent'] = b.reviews.apply(get_sentiment, k='compound')
b

,user_id,prod_id,rating,date,reviews,label,burst,PosSent,NegSent,CompSent
209,1132,0,4,2005-04-21,Cozy little Greek place. Â Love the meze! Â High...,1,1,0.15,0.00,0.83
208,1131,0,5,2005-09-21,Their spinach triangles cannot be beat. The Gr...,1,1,0.17,0.00,0.83
8,931,0,4,2005-12-27,My friend and I were intrigued by the nightly ...,0,1,0.22,0.04,0.97
207,1130,0,5,2006-08-14,"Snack is the happy tasty, the warm and wonderf...",1,1,0.33,0.03,0.99
206,1129,0,5,2007-01-24,I Snack on a weekly basis and it's always the ...,1,0,0.18,0.00,0.85
...,...,...,...,...,...,...,...,...,...,...
358951,128817,349,5,2014-12-15,I can not believe the good reviews I read in y...,1,0,0.08,0.12,-0.55
358952,25025,349,2,2014-12-14,I just took the opportunity of the Lower East ...,1,0,0.15,0.11,0.95
358947,161113,349,5,2015-01-06,"We usually have lunch here, given the long din...",1,0,0.18,0.00,0.87
358948,92236,349,1,2015-01-04,Overrated. Â Tried their crab and pork dumplin...,1,0,0.00,0.22,-0.45
358949,161114,349,5,2015-01-01,"We usually have lunch here, given the long din...",1,0,0.18,0.00,0.87

In [4]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [5]:
sid = SentimentIntensityAnalyzer()
#row = b.reviews[0]
def get_sentiment(row, **kwargs):
    sentiment_score = sid.polarity_scores(row)
    positive_meter = round((sentiment_score['pos']), 2)
    negative_meter = round((sentiment_score['neg']), 2)
    compound_meter = round((sentiment_score['compound']), 2)
    if (kwargs['k'] == 'positive'):
        return positive_meter
    elif (kwargs['k'] == 'negative'):
          return negative_meter
    else:
          return compound_meter
df['PosSent'] = df.text.apply(get_sentiment, k='positive')
df['NegSent'] = df.text.apply(get_sentiment, k='negative')
df['CompSent'] = df.text.apply(get_sentiment, k='compound')

df

,doc_id,text,favorited,favoriteCount,replyToSN,created,truncated,replyToSID,id,replyToUID,statusSource,screenName,retweetCount,isRetweet,retweeted,longitude,latitude,PosSent,NegSent,CompSent
0,1,Good data allows us to make good decisions or ...,False,0,NaN,10/11/21 22:26,True,NaN,1.460000e+18,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",Remotely_TREX,0,False,False,NaN,NaN,0.19,0.25,-0.18
1,2,RT @himalayasapp: ðŸ™‚ Brave is hiring a remote S...,False,0,NaN,10/11/21 22:23,False,NaN,1.460000e+18,NaN,"<a href=""https://hitalfashion.in"" rel=""nofollo...",PythonExpertBot,1,True,False,NaN,NaN,0.17,0.00,0.53
2,3,RT @Jobs_A_Fly: Hiring! Sr. Staff Engineer. Re...,False,0,NaN,10/11/21 22:23,False,NaN,1.460000e+18,NaN,"<a href=""https://help.twitter.com/en/using-twi...",education_24x7,2,True,False,NaN,NaN,0.33,0.06,0.88
3,4,.@lytics is looking for: Platform Software Eng...,False,1,NaN,10/11/21 22:23,False,NaN,1.460000e+18,NaN,"<a href=""https://www.golangprojects.com"" rel=""...",golangprojects,0,False,False,NaN,NaN,0.00,0.00,0.00
4,5,RT @IncluzionJobs: .@NSTXL tweeted a new remot...,False,0,NaN,10/11/21 22:22,False,NaN,1.460000e+18,NaN,"<a href=""https://help.twitter.com/en/using-twi...",HiringCare,1,True,False,NaN,NaN,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19434,19435,@SwinBusSchool research: the five work models ...,False,0,SwinBusSchool,01/11/21 4:15,True,NaN,1.460000e+18,1.150000e+18,"<a href=""https://www.hootsuite.com"" rel=""nofol...",BusinessDeans,1,False,False,NaN,NaN,0.00,0.00,0.00
19435,19436,RT @uniify_in: Frontline Managers Are The Lync...,False,0,NaN,01/11/21 4:13,False,NaN,1.460000e+18,NaN,"<a href=""http://twitter.com/download/iphone"" r...",kapilsaxena,1,True,False,NaN,NaN,0.22,0.00,0.57
19436,19437,Frontline Managers Are The Lynchpins To Busine...,False,2,NaN,01/11/21 3:55,True,NaN,1.460000e+18,NaN,"<a href=""https://publer.io"" rel=""nofollow"">Pub...",uniify_in,1,False,False,NaN,NaN,0.27,0.00,0.57
19437,19438,Meet Konpod: Not just a regular meeting platfo...,False,0,NaN,01/11/21 3:40,True,NaN,1.460000e+18,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",konpod2021,0,False,False,NaN,NaN,0.00,0.00,0.00
19438,19439,RT @Workspot: 12 Top-of-Mind Questions from Co...,False,0,NaN,01/11/21 3:38,False,NaN,1.460000e+18,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",chidambara09,3,True,False,NaN,NaN,0.00,0.00,0.00

In [6]:
df.to_csv('complete.csv', index = False)

In [27]:
import numpy as np
temp= b.groupby(['prod_id'])['CompSent'].agg(np.mean).reset_index()
temp.rename(columns={'CompSent':'avg_PSent'}, inplace=True)
b = pd.merge(b, temp, how='outer', on=['prod_id'])
temp= b.groupby(['prod_id'])['CompSent'].agg(np.median).reset_index()
temp.rename(columns={'CompSent':'med_PSent'}, inplace=True)
b = pd.merge(b, temp, how='outer', on=['prod_id'])

In [28]:
b['fSent'] = ""
for prod in b['prod_id'].unique():
    dftemp = b.loc[(b['prod_id'] == prod)]
    stdavg = ((sum((dftemp['CompSent']-dftemp['avg_PSent'])**2))/dftemp.shape[0])**(1/2)
    stdmed = ((sum((dftemp['CompSent']-dftemp['med_PSent'])**2))/dftemp.shape[0])**(1/2)
    if(stdavg<stdmed):
        b.loc[b.prod_id == prod, "fSent"] = dftemp['avg_PSent'].iloc[0]
    else:
        b.loc[b.prod_id == prod, "fSent"] = dftemp['med_PSent'].iloc[0]
b['inc'] = b.apply(lambda x: 1 if ((x['CompSent']-x['fSent'])**2 > .6) else 0, axis=1) 
b['incentivised'] = b.apply(lambda x: 1 if (x['burst'] & x['inc']) else 0, axis=1) 
b

,user_id,prod_id,rating,date,reviews,label,burst,PosSent,NegSent,CompSent,avg_PSent,med_PSent,fSent,inc,incentivised
0,1132,0,4,2005-04-21,Cozy little Greek place. Â Love the meze! Â High...,1,1,0.15,0.00,0.83,0.774810,0.92,0.77481,0,0
1,1131,0,5,2005-09-21,Their spinach triangles cannot be beat. The Gr...,1,1,0.17,0.00,0.83,0.774810,0.92,0.77481,0,0
2,931,0,4,2005-12-27,My friend and I were intrigued by the nightly ...,0,1,0.22,0.04,0.97,0.774810,0.92,0.77481,0,0
3,1130,0,5,2006-08-14,"Snack is the happy tasty, the warm and wonderf...",1,1,0.33,0.03,0.99,0.774810,0.92,0.77481,0,0
4,1129,0,5,2007-01-24,I Snack on a weekly basis and it's always the ...,1,0,0.18,0.00,0.85,0.774810,0.92,0.77481,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359047,128817,349,5,2014-12-15,I can not believe the good reviews I read in y...,1,0,0.08,0.12,-0.55,0.829815,0.94,0.829815,1,0
359048,25025,349,2,2014-12-14,I just took the opportunity of the Lower East ...,1,0,0.15,0.11,0.95,0.829815,0.94,0.829815,0,0
359049,161113,349,5,2015-01-06,"We usually have lunch here, given the long din...",1,0,0.18,0.00,0.87,0.829815,0.94,0.829815,0,0
359050,92236,349,1,2015-01-04,Overrated. Â Tried their crab and pork dumplin...,1,0,0.00,0.22,-0.45,0.829815,0.94,0.829815,1,0
359051,161114,349,5,2015-01-01,"We usually have lunch here, given the long din...",1,0,0.18,0.00,0.87,0.829815,0.94,0.829815,0,0

In [29]:
b.incentivised.value_counts()

0    344758
1     14294
Name: incentivised, dtype: int64

In [30]:
b.to_csv('YelpNYCInc.csv',index = False)